/* multi-size logo */
@media all and (min-width: 858px) {
  .logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

@media not all and (min-width: 858px){
  .logo {
    max-width: 75%;
    display: block;
    margin: 0 auto;
  }
}

@media not all and (min-width: 500px){
  .logo {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.retroshadow {
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

footer.page-footer {
  background-color: #D44500;
}

.nav-wrapper {
  background-color: #D44500;
}

.container {
  position: relative;
}

.body {
  background-color: #6F777D;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

/*.row {
  width: 100%;
}*/

.long {
  width: 10%;
  position:absolute;
}

.editorial {
  position:absolute;
  margin-top: 0;
  font-size: 1.1vw;
}

.blockAds {
  position:absolute;
  margin-top: 0;
  background-color: red;
}
.row .col {
  float: none;
}

.rows {
  width: 15%;
}

.left {
  width: 161.4%;
  margin-left: 0;
}
.one {
  margin-top: 10%;
  width: 50%;
}

.two {
  float: left;
  margin-top: 10%;
  width: 50%;
}

.diamond {
  margin-left: 13%;
  /*text-align: center;
  width: 100%;*/
}
